th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    min-width: 30px; /* Largeur minimale réduite */
    max-width: 50px; /* Largeur maximale réduite */
    overflow: hidden;
    text-overflow: ellipsis;
}

th:not(:nth-child(1)), th:not(:nth-child(2)), th:not(:nth-child(3)) {
    min-width: 40px; /* Largeur minimale pour les colonnes des années */
    max-width: 50px; /* Largeur maximale pour les colonnes des années */
}

td:not(:nth-child(1)), td:not(:nth-child(2)), td:not(:nth-child(3)) {
    min-width: 40px; /* Largeur minimale pour les colonnes des années */
    max-width: 50px; /* Largeur maximale pour les colonnes des années */
}
